/* importing from other files */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*animation*/

@font-face {
     font-family: apple-view;
     src: url("./fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf");
}

@font-face {
     font-family: apple-view-bold;
     src: url("./fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Heavy.otf");
}

@keyframes shineItem{
     0%{
          box-shadow: 1px 1px 1px rgb(60, 73, 92);
     }
     100%{
          box-shadow: 1px 1px 20px white;
     }
}

@keyframes changeBackHome{
     0%{
          background-image: url('./assets/test/back_4.jpg');
     }
     20%{
          background-image: url('./assets/test/back_4.jpg');
     }
     30%{
          background-image: url('./assets/test/back_3.jpg');
     }
     50%{
          background-image: url('./assets/test/back_3.jpg');
     }
     60%{
          background-image: url('./assets/test/back_2.jpg');
     }
     80%{
          background-image: url('./assets/test/back_2.jpg');
     }
     90%{
          background-image: url('./assets/test/back_1.jpg');
     }
     95%{
          background-image: url('./assets/test/back_1.jpg');
     }
     100%{
          background-image: url('./assets/test/back_4.jpg');
     }
}



/*general styles */

body{
     width: 100vw;
     overflow-x: hidden;
     padding: 0;

}

*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0px solid red;
     font-family: 'Dosis', sans-serif;
     font-family: 'EB Garamond', serif;
     font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-family: apple-view;
}
:root{
     font-size: 20px;
}

.App{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     
     
}

.colors{
     color:#8B170F;
     color:#0F838B;
}
/*Styling the components*/

.home_partner{
     width: clamp(120px, 18%, 400px);
     display: flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     position: relative;
     z-index: 2;
     transition: all 0.5s;
}

.home_partner a img{
     width: 100px;
     aspect-ratio: 1/1;
     background-color: #18777700;
     padding: 10px;
     box-sizing: border-box;
     transition: all 1s;
}

.home_partner a img:hover{
     background-color: #0F838B;
     border-radius: 50%;
}

.home_partner a:hover ~ h4{
     display: flex;
}
.home_partner h4{
     font-size: 0.7rem;
     columns: #0F838B;
     text-align: center;
     display: none;
}
/* Styling the userspage header componet */

.page{
     position: relative;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.Header{
     box-sizing: border-box;
     position: sticky;
     top: 0;
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     background-color: #ffffff;
     z-index: 10;
     padding: 3px 15%;
}

.Header .logo-container{
     width: clamp(140px, 20%, 400px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;
}

.Header .logo-container img{
     width: clamp(50px, 5.5%, 100px);
     margin: 0;
     position: relative;
     transition: all 0.2s;
}

.Header .logo-container img:hover{
     cursor: pointer;
     transform: scale(1.2);
}

.Header .logo-container h2{
     font-size: 20px;
     color: #0f838b;
     padding: 5px 0px 0;
     position: relative;
     line-height: 20px;
     left: -1%;
}

.Header .nav-container1{
     box-sizing: border-box;
     width: clamp(350px, 10%, 600px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.Header .nav-container1 .menu-icon{
     display: none;
}

.Header .nav-container1 ul{
     list-style: none;
     width: 80%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     padding: 5px 0;
}

.Header .nav-container1 ul li{
     padding: 0 2px;
}

.Header .nav-container1 ul a, .Header .nav-container2 a{
     text-decoration: none;
     font-size: 16px;
     color: #063033;
     transition: all 0.5s;
}

.Header .nav-container1 ul li:hover{
     border-bottom: 2px solid #063033;
}

.Header .nav-container1 ul li:hover a{
     font-weight: bold;
}
.Header .nav-container2{
     box-sizing: border-box;
     position: relative;
     width: clamp(100px, 10%, 300px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 5px 0;
     z-index: 11;
}

.Header .nav-container2:hover span a{
     font-weight: bold;
}

.Header .nav-container2:hover .nav{
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index: 11;
}

.Header .nav-container2 .nav{
     display: none;
     top: 30px;
     right: 22%;
     width:150px;
     box-shadow: 1px 1px 10px #063033;
     padding: 10px 0 10px;
     background-color: #ffffff;
     border-radius:10px 10px 10px 10px;
     transition: all 0.5s;

}

.Header .nav-container2 .nav a{
     padding: 2px 0;
     width: 90%;
     text-align: center;
     border-radius: 3px;
     transition: all 0.5s;
     margin-bottom: 2px;
     padding: 4px 0;
     letter-spacing: 0.65px;
}

.Header .nav-container2 .nav a:hover{
     background-color: #052022; 
     color: white;
     font-weight: bold;
}
/*styling the footer */

.footer{
     position: relative;
     width: 100%;
     background-color: #082733;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 0;
     bottom: 0%;
     z-index: 1;
}

.footer p{
     font-size: 14px;
}

/*styling the home page */

.page .home_page{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 0;
     z-index: 1;

}

.page .home_sec1{
     width:100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #ecf3f7;
     padding: 100px 0;

}

.page .home_sec1 .row{
     width: clamp(380px, 70%, 1600px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.page .home_sec1 .row  h1{
     width: clamp(350px, 80%, 1600px);
     text-align: center;
     font-size: 3.2rem;
     font-weight: bolder;
     margin: 20px 0;
     color: #0d282c;
     font-weight: 800;
}

.page .home_sec1 .row .getInTouch{
     position: relative;
     width: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.page .home_sec1 .row  .getInTouch p {
     font-size: 1rem;
     font-weight: bold;
     margin-bottom: 20px;
     color: #435a63;
     font-weight: 200;
}

.page .home_sec1 .row .getInTouch button{
     position: relative;
     width: clamp(120px, 15%, 600px);
     font-size: 0.8rem;
     font-weight: bold;
     padding: 10px 0;
     border-radius: 3px;
     align-self:flex-end;
     background-color: #0f4169;
     color: white;
     transition: all 1s;
}

.page .home_sec1 .row .getInTouch button:hover{
     cursor: pointer;
     background-color: white;
     color: #082733;
     box-shadow: 7px 7px #227497;

}

.page .home_sec1 .row .col-img{
     position: relative;
}
.page .home_sec1 .row .col img{
     width: clamp(390px, 80%, 1200px);
     border-radius: 20px;
     margin: 20px 0;
     position: relative;
}



.page .home_sec1 .row .col .img_2{
     transform: scale(0.5);
}

.page .home_sec2{
     width: clamp(380px, 70%, 1600px);
     padding: 4rem 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     position: relative;
     flex-wrap: wrap;
}

.page .home_sec2 h3{
     position: absolute;
     font-size: 8rem;
     font-weight: 900;
     top: 1rem;
     left: 4rem;
     color: #f7fbff;
     z-index: 0;
     text-align: center;
}

.page .home_sec3{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 2rem 0;
     background-color: #ecf3f7;
}

.page .home_sec3 .content{
     width: clamp(390px, 70%, 1600px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
}

.page .home_sec3 .content h3{
     font-size: 2rem;
     color: #063033;
     margin: 1rem 0;
}

.page .home_sec3 .content p{
     font-size: 16px;
     width: clamp(390px, 70%, 800px);
     text-align: center;
     color: #263541;
     font-weight: 100;
     position: relative;
     z-index: 5;
}

.page .home_sec3 .content div{
     width: clamp(380px, 70%, 1000px );
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin: 40px;
     position: relative;
     z-index: 5;
}

.page .home_sec3 .content div p{
     color: #263541;
     font-size: 16px;
     text-align: left;
}

.page .home_sec3 .content div ul{
     list-style:disc;
     padding: 0 4rem ;
     color: #263541;
     margin: 20px 0;
     font-size: 16px;
     position: relative;
     z-index: 5;
}

.page .home_sec3 .content img{
     position: absolute;
     width: 400px;
     z-index: 0;
     right: 0;
}
@media only screen and (max-width: 1400px){
     .page .home_sec1 .row .col-img{
          display: none;
     }

     .page .home_sec1 .row .col{
          width: 80%;
     }
}

@media only screen and (max-width: 1200px){
     :root{
          font-size: 14px;
     }
     .Header .logo-container h2{
          font-size: 16px;
     }
}

@media only screen and (max-width: 768px){
     :root{
          font-size: 12px;
     }

     .Header{
          padding: 1% 0;
     }
     .Header .logo-container img{
          width: 40px;
     }
     .Header .logo-container h2{
          font-size: 16px;
     }
     .Header .nav-container1{
          position: relative;
          width: 50px;
     }
     .Header .nav-container1 ul{
          display: none;
     }
     .Header .nav-container1 .menu-icon{
          display: flex;
          font-size: 25px;
          color: #052022;
     }
     .page .home_sec1{
          padding: 30px 0;
     }
     .page .home_sec1 .row h1{
          font-size: 30px;
     }

     .Header .nav-container1 .menu-icon:hover ~ ul{
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 80vw;
          top: 30px;
          left: -1%;
          box-shadow: 1px 1px 4px #052022;
          background-color: #ecf3f7;
          border-radius: 3px;
     }
     .page .home_sec3 .content img{
          display: none;
     }
}